nav {
  margin-top: 4em;

  .nav__menu {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    list-style-type: none;

    .menu__item {
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
}
