.about-section {
  color: $slate;
  line-height: 1.7;

  .about-section__paragraph {
    margin-bottom: 0.75em;

    .paragraph__link {
      @include active-hover;
    }
  }

  .about-section__header {
    @include sticky-header
  }
}
