.projects-section {
  @include main__section;

  .tile {
    align-items: flex-start;
    gap: 6%;

    @include for-desktop {
      gap: 3%;

      .tile__image {
        width: 26.25%;
      }
    }

    @include for-phone {
      flex-direction: column-reverse;
      gap: 1em;

      .tile__image {
        width: 12.5em;
      }
    }
  }

  .projects-section__archive {
    display: flex;
    align-items: center;
    gap: 0.25em;
    width: fit-content;
    border-bottom: 1px solid transparent;
    transition: gap ease-in-out 0.1s, border-bottom ease-in-out 0.1s;

    span {
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: border-color ease-in-out 0.1s;
    }

    &:hover {
      gap: 0.75em;

      span {
        border-color: $green;
      }
    }
  }
}
