@mixin default {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin main__section {
  margin-top: 9em;

  .section__header {
    @include sticky-header;
  }

  @include for-desktop {
    margin-top: 4em;
  }

  @include default {
    &:hover {
      .tile {
        opacity: 0.45;
      }

      .tile:hover {
        opacity: 1.0;
      }
    }
  }
}

@mixin section__tile {
  position: relative;
  display: flex;
  gap: 3%;
  margin-bottom: 4em;
  transition: opacity ease-in-out 0.1s;

  .tile--hover {
    position: absolute;
    inset: -10% -5%;
    border-radius: 0.5em;
    width: 110%;
    height: 120%;
    transition:
      background-color ease-in-out 0.2s,
      box-shadow ease-in-out 0.2s;
  }

  @include tile__content;

  .tile__time-frame{
    @include tile__time-frame;
  }

  .tile__image {
    @include tile__image;
  }

  &:hover {
    .tile--hover {
      box-shadow: inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
      background-color: rgba(255, 255, 255, 0.02);
    }

    .tile__image {
      border-color: $dark-slate;
    }
  }

  @include for-phone {
    flex-direction: column;
    gap: 0.5em;
  }
}

@mixin tile__time-frame {
  position: relative;
  width: 35%;
  color: $slate;
  letter-spacing: 0.025em;
  font-size: 0.75em;
  text-transform: uppercase;

  @include for-desktop {
    width: 30%;
  }

  @include for-phone {
    width: fit-content;
  }
}

@mixin tile__image {
  width: 26%;
  object-fit: contain;

  border-radius: 0.25em;
  border: 3px solid $lightest-navy;
  transition: border-color ease-in-out 0.2s;
}

@mixin active-hover {
  color: $white;
  transition: color ease-in-out 0.1s;

  &:hover {
    color: $green;
  }
}

@mixin sticky-header {
  padding: 1.5em 3em;

  color: $white;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.875em;
  text-transform: uppercase;

  @include for-desktop{
    margin: 0 -3em 1.5em;
    position: sticky;
    top: 0;
    z-index: 1;

    background-color: rgba(15, 23, 42, 0.5);
    backdrop-filter: blur(5px);
  }

  @include for-tablet {
    padding: 1.5em 1.5em;
    margin: 0 -1.5em 1.5em;
  }
}

@mixin arrow-icon {
  .arrow-icon {
    transform: translateY(3px);
    transition: transform 0.1s ease-in-out;
  }
}

@mixin tile__content {
  .tile__content {
    width: 80%;

    .tile__link {
      display: flex;
      width: fit-content;

      .tile__title {
        @include tile__title;
        &:hover {
          @include title--hover;
        }
      }
    }

    .tile__subtitle {
      @include tile__subtitle;
    }

    .tile__desc {
      @include tile__desc;
    }

    .tile__stats {
      @include tile__stats;
    }

    .tile__tags {
      @include tile__tags;
    }

    .tile__tech-stack {
      @include tile__tech-stack;
    }

    @include for-phone {
      width: unset;
    }
  }
}

@mixin tile__title {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-weight: normal;
  transition: color ease-in-out 0.1s;

  @include arrow-icon;
}

@mixin title--hover {
  color: $green;

  .arrow-icon {
    color: $green;
    transform: translateX(5px);
  }
}

@mixin tile__subtitle {
  position: relative;
  color: $dark-slate;
  margin-top: 0.25em;
}

@mixin tile__desc {
  position: relative;
  margin: 0.5em 0;
  line-height: 1.5;
  font-size: 0.875em;
  color: $slate;
}

@mixin tile__stats {
  position: relative;
  display: flex;
  margin: 0.75em 0;
  width: fit-content;

  .tile__stat {
    display: flex;
    align-items: center;
    gap: 0.2em;
    padding-right: 1em;
    font-size: 0.875em;
    transition: color ease-in-out 0.1s;

    svg {
      width: 12px;
      height: 12px;
    }

    &:hover {
      color: $green;
    }
  }
}

@mixin tile__tags {
  position: relative;
  display: flex;
  gap: 1em;
  font-size: 0.875em;
  margin: 1.5em 0;
  width: fit-content;
  flex-wrap: wrap;

  .tag__link {
    display: flex;
    align-items: center;
    transition: color ease-in-out 0.1s;

    .link-icon {
      margin-right: 4px;
    }

    &:hover {
      color: $green;
    }
  }
}

@mixin tile__tech-stack {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}
