@mixin active-hover {
  color: $white;
  transition: color ease-in-out 0.1s;

  &:hover {
    color: $green;
  }
}

@mixin sticky-header {
  padding: 1.5em 0;
  margin-bottom: 0.5em;

  color: $white;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.875em;
  text-transform: uppercase;
}

@mixin for-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 640px) {
    @content;
  }
}
