.experience-section {
  @include main-section;

  .experience-section__header {
    @include sticky-header;
  }

  .experience-section__tile {
    @include main-section__tile;

    .experience__time-frame{
      @include tile__time-frame;
    }

    .experience__content {
      width: 80%;

      .experience__link {
        display: flex;
        width: fit-content;

        .experience__title {
          @include tile__title;

          &:hover {
            @include title--hover;
          }
        }
      }

      .experience__work-type {
        @include tile__subtitle;
      }

      .experience__desc {
        @include tile__desc;
      }

      .experience__tags {
        display: flex;
        gap: 1em;
        font-size: 0.875em;
        margin: 1.5em 0;
        width: fit-content;
        flex-wrap: wrap;

        .tag__link {
          display: flex;
          align-items: center;
          transition: color ease-in-out 0.1s;

          .link-icon {
            margin-right: 4px;
          }

          &:hover {
            color: $green;
          }
        }
      }

      .experience__tech-stack {
        @include tile__tech-stack;
      }

      @include for-phone {
        width: unset;
      }
    }
  }
}
