.experience-section {
  margin-top: 9em;

  .experience-section__header {
    @include sticky-header;
  }

  .experience-section__tile {
    display: flex;
    gap: 3%;
    margin-bottom: 4em;

    .experience__time-frame{
      width: 35%;
      color: $slate;
      letter-spacing: 0.025em;
      font-size: 0.75em;
      text-transform: uppercase;

      @include for-desktop {
        width: 30%;
      }

      @include for-phone {
        width: fit-content;
      }
    }

    .experience__content {
      width: 80%;

      .experience__link {
        display: flex;
        width: fit-content;

        .experience__title {
          @include tile__title;

          &:hover {
            @include title--hover;
          }
        }
      }

      .experience__work-type {
        color: $dark-slate;
        margin-top: 0.25em;
      }

      .experience__desc {
        @include tile__desc;
      }

      .experience__tags {
        display: flex;
        gap: 1em;
        font-size: 0.875em;
        margin: 1.5em 0;
        width: fit-content;
        flex-wrap: wrap;

        .tag__link {
          display: flex;
          align-items: center;
          transition: color ease-in-out 0.1s;

          .link-icon {
            margin-right: 4px;
          }

          &:hover {
            color: $green;
          }
        }
      }

      .experience__tech-stack {
        @include tile__tech-stack;
      }

      @include for-phone {
        width: unset;
      }
    }

    @include for-phone {
      flex-direction: column;
      gap: 0.5em;
    }
  }

  @include for-desktop {
    margin-top: 4em;
  }
}
