.app {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 6em;

  @include for-desktop {
    margin: unset;
    padding: 5em 3em;

    .home-page {
      flex-direction: column;
    }
  }

  @include for-tablet {
    padding: 3em 1.5em;
  }
}
