* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $white;
  background-color: $navy;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  cursor: pointer;
}
